*{
    margin:0px;
    padding: 0px;
}

.cpp-hero{
    /* background-color: black; */
    height: 299rem;
}

.data-names{
    margin: 2.5rem;
}
.h-100{
    height: 10rem;
}
.subheading{
    margin-left: 2rem;
}
.mobile-nav-cpp{
    display: none;
    visibility: hidden;
}
@media(max-width:1080px)
{
    .cpp-hero{
        height: 480rem;
    }
}
@media(max-width:630px)
{
    .cpp-hero{
        height: 450rem;
    }
}
@media(max-width:550px)
{
    .cpp-hero{
        height: 380rem;
    }
}
@media (max-width:521px)
{
    .col-3{
        display: none;
    }

    .col-8{
        margin: 0 auto;
    }
    .cpp-hero{
        height:450rem
    }
    .data-names{
        margin: 1.5rem;
    }
}
@media(max-width:380px)
{

}
@media(max-width:360px)
{
    .cpp-hero{
        height: 500rem;
    }
}

@media (max-width: 1283px) and (min-width: 1278px) {
    .cpp-hero {
        height: 291rem !important;
    }
}

.array-subheading{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.python-hero{
    height: fit-content !important;
}